<div fxFlex fxLayout="column" fxLayoutGap="10px">
  <div fxFlex fxLayout="row" fxLayoutGap="10px">
    <input matInput #searchinput placeholder="Search" (keyup.enter)="onSearch(searchinput.value)">
    <button mat-button (click)="updateData(); searchinput.value = ''">Refresh</button>
    <button mat-button>Previous</button>
    <button mat-button>Next</button>
  </div>
  <div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
    <div fxLayout="row wrap">
      <div
        *ngFor="let story of stories"
        fxFlex="25"
        fxFlex.md="33"
        fxFlex.sm="50"
        fxFlex.xs="100"
        fxLayout="column"
        style="padding: 5px;"
      >
        <mat-card class="mat-elevation-z1">
          <mat-card-header>
            <mat-card-title>{{story.by}}</mat-card-title>
            <mat-card-subtitle>{{story.title}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{story.text}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button *ngIf="story.url!=''" mat-button (click)="onNavigate(story.url)">Goto</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
