<div fxFlex fxLayout="column" fxLayoutGap="10px">
  <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <input matInput #searchinput placeholder="Search" (keyup.enter)="onSearch(searchinput.value)" class="controls">
    <button mat-button (click)="updateData(); searchinput.value = ''" class="controls">Latest News</button>
    <button mat-button [disabled]="this.isFirstPage" (click)="onPrev()" class="controls">Previous</button>
    <button mat-button (click)="onNext()" class="controls">Next</button>
  </div>
  <div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
    <div fxLayout="row wrap">
      <div
        *ngFor="let story of stories"
        style="padding: 5px;"
      >
        <app-story-card [story]="story"></app-story-card>
      </div>
    </div>
    <ng-template #customLoadingTemplate>
      <div class="loading-class">
        <h3>
          Loading...
        </h3>
      </div>
    </ng-template>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  </div>
</div>
