<div fxFlex fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" style="height: 95vh;">
  <div>
    <input matInput #searchinput placeholder="Search" (keyup.enter)="onSearch(searchinput.value)" class="controls">
    <button mat-button (click)="updateData(); searchinput.value = ''" class="controls">Latest News</button>
    <!--<button mat-button [disabled]="this.isFirstPage" (click)="onPrev()" class="controls">Previous</button>
    <button mat-button (click)="onNext()" class="controls">Next</button>-->
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px" style="height: 100%;">
    <div fxLayout="row wrap"
      infinite-scroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="500"
         [scrollWindow]="false"
         (scrolled)="onNext()"
         style="height: 100%;overflow-y: scroll;">
      <div
        *ngFor="let story of stories"
        fxFlex="15"
        fxFlex.md="33"
        fxFlex.sm="50"
        fxFlex.xs="100"
        fxLayout="column"
        style="padding: 5px;"
      >
        <app-story-card [story]="story"></app-story-card>
      </div>
    </div>
    <ng-template #customLoadingTemplate>
      <div class="loading-class">
      </div>
    </ng-template>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  </div>
</div>
