<mat-card class="news-card" fxFlex fxLayout="column" fxLayoutAlign="space-between">
  <mat-card-header (click)="onNavigate(story.url)" >
    <mat-card-title class="card-title">{{story.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content" >
    <div fxFlex fxLayout="column">
      <div class="story-text" [innerHtml] = "getText()" (click)="showFullText();"></div>
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between"><p>{{getDate(story.time)}}</p> <p>{{story.by}}</p></div>
    </div>
  </mat-card-content>
</mat-card>
