<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hackernewsapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/74d5e35f-fbf2-4f21-928d-6439b2d73b93/resourceGroups/HackerNews/providers/Microsoft.Web/sites/HackerNewsApp</ResourceId>
    <UserName>$HackerNewsApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://hackernewsapp.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <SelfContained>false</SelfContained>
    <_IsPortable>true</_IsPortable>
  </PropertyGroup>
</Project>